<%-include("background.ejs")%>
<div class="slider">
    <div class="slides">
                <div class="slide">
                    <img src="BUILDING RESILIENCE TOGETHER.jpg" alt="Building Resilience Together">
                    <div class="overlay">
                        <a href="building-resilience.html">Building Resilience Together</a>
                    </div>
                </div>
                <div class="slide">
                    <img src="SECURING LIVELIHOOD.JPG" alt="Securing Livelihood">
                    <div class="overlay">
                        <a href="securing-livelihood.html">Securing Livelihood</a>
                    </div>
                </div>
                <div class="slide">
                    <img src="RISE UP FOR CLIMATE JUSTICE.jpg" alt="Rise Up for Climate Justice">
                    <div class="overlay">
                        <a href="rise-up-for-climate-justice.html">Rise Up for Climate Justice</a>
                    </div>
                </div>
                <div class="slide">
                    <img src="HELP PEOPLE AFFECTED BY DISASTER.jpg" alt="Help People Affected by Disaster">
                    <div class="overlay">
                        <a href="help-people-affected.html">Help People Affected by Disaster</a>
                    </div>
                </div>
                <div class="slide">
                    <img src="WOMEN EMPOWERMENT FOR NATION BUILDING.JPG" alt="Women Empowerment for Nation Building">
                    <div class="overlay">
                        <a href="women-empowerment.html">Women Empowerment for Nation Building</a>
                    </div>
                </div>
                <div class="slide">
                    <img src="LEARN MORE ABOUT OUR WORK.jpg" alt="Learn More About Our Work">
                    <div class="overlay">
                        <a href="learn-more.html">Learn More About Our Work</a>
                    </div>
                </div>
                <div class="slide">
                    <img src="EMERGENCY RESPONSE IN KASHMIR.jpg" alt="Emergency Response in Kashmir">
                    <div class="overlay">
                        <a href="emergency-response.html">Emergency Response in Kashmir</a>
                    </div>
                </div>
                <div class="slide">
                    <img src="jayant sir.jpg" alt="HELP US FIGHT">
                    <div class="overlay">
                        <a href="building-resilience.html">Help Us Fight Injustice</a>
                    </div>
                </div>
                <div class="slide">
                    <img src="search.jpg" alt="Search and Rescue Training">
                    <div class="overlay">
                        <a href="search.html">Search and Rescue Training</a>
                    </div>
                </div>
            </div>
            <div class="arrow left" onclick="showPrevSlide()">&#9664;</div>
            <div class="arrow right" onclick="showNextSlide()">&#9654;</div>
        </div>
        <div class="social-media-icons">
            <a href="https://www.linkedin.com/company/mountain-forum-himalayas/posts/?feedView=all" class="social-icon"><i class="fa-brands fa-linkedin-in"></i></a>
            <a href="https://www.facebook.com/people/Mountain-Forum-Himalayas/61563374108630/" class="social-icon"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://www.instagram.com/mountain.forum.himalayas/" class="social-icon"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://x.com/mfh_shimla" class="social-icon"><i class="fa-brands fa-twitter"></i></a>
        </div>   
    </header>

    <%- include('footer.ejs') %>

    <script >
        let currentIndex = 1;
const slidesContainer = document.querySelector('.slides');
const slides = document.querySelectorAll('.slide');
const totalSlides = slides.length;

// Clone first and last slides
const firstSlide = slides[0].cloneNode(true);
const lastSlide = slides[totalSlides - 1].cloneNode(true);

slidesContainer.appendChild(firstSlide);
slidesContainer.insertBefore(lastSlide, slides[0]);

// Adjust the initial position
slidesContainer.style.transform = `translateX(-100%)`;

function showNextSlide() {
    if (currentIndex < totalSlides) {
        currentIndex++;
        slidesContainer.style.transition = "transform 1s ease-in-out";
        slidesContainer.style.transform = `translateX(-${currentIndex * 100}%)`;
    } else {
        currentIndex++;
        slidesContainer.style.transition = "transform 1s ease-in-out";
        slidesContainer.style.transform = `translateX(-${currentIndex * 100}%)`;
        slidesContainer.addEventListener('transitionend', resetNext);
    }
}

function resetNext() {
    slidesContainer.style.transition = 'none';
    currentIndex = 1;
    slidesContainer.style.transform = `translateX(-${currentIndex * 100}%)`;
    slidesContainer.removeEventListener('transitionend', resetNext);
}

function showPrevSlide() {
    if (currentIndex > 1) {
        currentIndex--;
        slidesContainer.style.transition = "transform 1s ease-in-out";
        slidesContainer.style.transform = `translateX(-${currentIndex * 100}%)`;
    } else {
        currentIndex--;
        slidesContainer.style.transition = "transform 1s ease-in-out";
        slidesContainer.style.transform = `translateX(-${currentIndex * 100}%)`;
        slidesContainer.addEventListener('transitionend', resetPrev);
    }
}

function resetPrev() {
    slidesContainer.style.transition = 'none';
    currentIndex = totalSlides;
    slidesContainer.style.transform = `translateX(-${currentIndex * 100}%)`;
    slidesContainer.removeEventListener('transitionend', resetPrev);
}

// Automatic sliding
let autoSlideInterval = setInterval(showNextSlide, 5000); // Change slides every 5 seconds

// Pause auto sliding when the user interacts with arrows
document.querySelector('.arrow.left').addEventListener('click', () => {
    clearInterval(autoSlideInterval);
    showPrevSlide();
    autoSlideInterval = setInterval(showNextSlide, 5000); // Restart auto sliding
});

document.querySelector('.arrow.right').addEventListener('click', () => {
    clearInterval(autoSlideInterval);
    showNextSlide();
    autoSlideInterval = setInterval(showNextSlide, 5000); // Restart auto sliding
});

</script>
